# Data Base url 
DATABASE_URL=

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Cloudinary url image
DEFAULT_USER_IMAGE_URL=

# Password-Recovery
EMAIL_USER=
# Password creado en app password
FRONT_URL=
EMAIL_PASS=