@font-face {
  font-family: "Jaidi Sans";
  src: url("/fonts/jaidi-sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body { 
    font-family: "Jaidi Sans", system-ui, sans-serif;
    background-color: #50d382;
    margin: 0;
}

.container{
    background-color: #0E122A;
    width: 100%;
}

.logo{
    color: white;
    font-size: large;
    font-weight: bold;
}

.user-logout{
    color: white;
}

.user-logout button{
    color:white;
    border-style: hidden;
    background-color: #0E122A;
}
